* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}
.top {
  background-color: black;
  padding: 10px;
}
.top .top_content .top_title p {
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0;
}

header {
  padding: 10px 0;
}
header .header_content {
  position: relative;
}
header .header_content .header_top .header_currency .nav-item, header .header_content .header_top .header_languege .nav-item {
  list-style: none;
}
header .header_content .header_top .header_currency .nav-item:hover .dropdown-menu, header .header_content .header_top .header_languege .nav-item:hover .dropdown-menu {
  display: block;
}
header .header_content .header_top .header_currency .nav-item .nav-link, header .header_content .header_top .header_languege .nav-item .nav-link {
  font-size: 12px;
  font-weight: 300;
  color: #333333;
  position: relative;
}
header .header_content .header_top .header_currency .nav-item .nav-link:hover::after, header .header_content .header_top .header_languege .nav-item .nav-link:hover::after {
  opacity: 1;
}
header .header_content .header_top .header_currency .nav-item .nav-link::after, header .header_content .header_top .header_languege .nav-item .nav-link::after {
  content: "";
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 3px;
  position: absolute;
  opacity: 0;
}
header .header_content .header_top .header_currency .nav-item .dropdown-menu, header .header_content .header_top .header_languege .nav-item .dropdown-menu {
  min-width: 100px;
  padding: 0;
}
header .header_content .header_top .header_currency .nav-item .dropdown-menu li .dropdown-item, header .header_content .header_top .header_languege .nav-item .dropdown-menu li .dropdown-item {
  font-size: 12px;
  font-weight: 300;
  color: #333333;
}
header .header_content .header_navbar .header_navbar .header_right .navbar .collapse .nav-item {
  padding: 0 10px;
}
header .header_content .header_navbar .header_navbar .header_right .navbar .collapse .nav-item:hover ul.dropdown-menu {
  display: block !important;
}
header .header_content .header_navbar .header_navbar .header_right .navbar .collapse .nav-item a.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  position: relative;
}
header .header_content .header_navbar .header_navbar .header_right .navbar .collapse .nav-item a.nav-link:hover::after {
  opacity: 1;
}
header .header_content .header_navbar .header_navbar .header_right .navbar .collapse .nav-item a.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 3px;
  opacity: 0;
}
header .header_content .header_navbar .header_navbar .header_right .navbar .collapse .nav-item ul.dropdown-menu {
  display: none !important;
}
header .header_content .header_navbar .header_menu ul .nav-item {
  list-style: none;
  padding: 0 10px;
  position: relative;
  transition: all 0.1s;
}
header .header_content .header_navbar .header_menu ul .nav-item:hover {
  background-color: #9D9DAA;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
header .header_content .header_navbar .header_menu ul .nav-item:first-child:after {
  display: none;
}
header .header_content .header_navbar .header_menu ul .nav-item::after {
  content: "1";
  font-size: 11px;
  background-color: #ffc107;
  position: absolute;
  height: 20px;
  line-height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  top: -15px;
  right: -5px;
}
header .header_content .header_navbar .header_menu ul .nav-item:last-of-type::after {
  content: "16";
  font-size: 11px;
  background-color: #ffc107;
  position: absolute;
  height: 20px;
  line-height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  top: -15px;
  right: -5px;
}
header .header_content .header_navbar .header_menu ul .nav-item:hover .dropdown-menu {
  display: block;
}
header .header_content .header_navbar .header_menu ul .nav-item a.dropdown-toggle::after {
  display: none;
}
header .header_content .header_navbar .header_menu ul .nav-item ul.dropdown-menu {
  padding: 0;
  transform: translate3d(-150.37037px, 25.9259px, 0px);
  min-width: 250px;
}
header .header_content .header_navbar .header_menu ul .nav-item ul.dropdown-menu .mb-3 {
  margin: 0 !important;
}
header .header_content .header_bottom {
  font-size: 80px;
  position: absolute;
  top: -9px;
  left: 18px;
}
header .header_content .header_bottom a {
  color: #000000;
}

.hinhAnh {
  background-image: url(./../../Asset/img/img.jpg.gif);
  height: 350px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.hinhAnh .hinhAnh_content {
  color: #FFFFFF;
  padding: 70px 0;
}
.hinhAnh .hinhAnh_content h3 {
  font-size: 31px;
  font-weight: bold;
  color: #FFFFFF;
}
.hinhAnh .hinhAnh_content p {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1.6;
  width: 40%;
}
.hinhAnh .hinhAnh_content button.hinhAnh_button {
  height: 60px;
  width: 150px;
  border: none;
  position: relative;
}
.hinhAnh .hinhAnh_content button.hinhAnh_button::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 150px;
  top: 5px;
  left: 5px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.hinhAnh .hinhAnh_content button.hinhAnh_button a {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.items_shoes {
  padding: 50px 0;
}
.items_shoes .item .item_container {
  position: relative;
  height: 100%;
}
.items_shoes .item .item_container .item_coler_background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.items_shoes .item .item_container .item_white_background {
  position: absolute;
  top: 0;
  left: 30px;
  background-color: white;
  width: 85%;
  height: 93%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.items_shoes .item .item_container .item_img h3 {
  width: 60%;
  object-fit: cover;
  position: relative;
  top: 2vw;
  left: 50%;
  transform: translateX(-50%);
}
.items_shoes .item .item_container .item_img h3 a {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
.items_shoes .item .item_container .item_img h3 a:hover {
  color: #FFFFFF;
  background-color: #000000;
  height: 100%;
  width: 100%;
}
.items_shoes .item .item_container .item_img img {
  width: 60%;
  object-fit: cover;
  position: relative;
  top: 2vw;
  left: 62%;
  transform: translateX(-50%);
}

.feed_back {
  background-image: url(./../../Asset/img/nike-just-do-it.jfif);
  height: 550px;
  width: 100%;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 50px 0;
}
.feed_back .feed_back_ovelay {
  position: absolute;
  top: 0;
  left: 0;
  height: 550px;
  width: 100%;
  background-color: rgba(92, 85, 85, 0.7);
}
.feed_back .feed_back_ovelay h3 {
  text-align: center;
  font-size: 31px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 50px;
}
.feed_back .feed_back_content {
  z-index: 4;
}
.feed_back .feed_back_content .slick-feedback {
  padding-top: 140px;
}
.feed_back .feed_back_content .slick-feedback .slick-track .feed_card {
  padding: 0 30px;
  text-align: center;
}
.feed_back .feed_back_content .slick-feedback .slick-track .feed_card .card-rate {
  color: yellow;
}
.feed_back .feed_back_content .slick-feedback .slick-track .feed_card .card-body .card-title {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 0;
}
.feed_back .feed_back_content .slick-feedback .slick-track .feed_card .card-body p.card-text:first-of-type {
  font-size: 16px;
  font-weight: 400;
  color: #c1c1f2;
}
.feed_back .feed_back_content .slick-feedback .slick-track .feed_card .card-body p.card-text:last-of-type {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  padding-bottom: 5px;
}
.feed_back .feed_back_content .slick-feedback .slick-track .feed_card img {
  height: 100px;
  width: 100px;
  border: 1px solid;
  border-radius: 15px;
  margin: 0 auto;
}

.blog .blog_content {
  padding: 50px 0;
}
.blog .blog_content h3 {
  padding-bottom: 20px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #000000;
}
.blog .blog_content .blog_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.blog .blog_content .blog_grid .blog_item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.blog .blog_content .blog_grid .blog_item:hover {
  background-color: #9D9DAA;
}
.blog .blog_content .blog_grid .blog_item .blog_item_left img {
  padding: 65px 10px;
}
.blog .blog_content .blog_grid .blog_item .blog_item_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}
.blog .blog_content .blog_grid .blog_item .blog_item_right h4 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.blog .blog_content .blog_grid .blog_item .blog_item_right p:first-of-type {
  padding-top: 5px;
  font-size: 12px;
  font-weight: 300;
  color: #F6435B;
}
.blog .blog_content .blog_grid .blog_item .blog_item_right p:last-of-type {
  font-size: 16px;
  font-weight: 400;
  color: color_gray;
}
.blog .blog_content .blog_grid .blog_item .blog_item_right button {
  width: 40%;
  height: 15%;
  border: 1px solid #ada3a3;
}
.blog .blog_content .blog_grid .blog_item .blog_item_right button a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #ada3a3;
}
.blog .blog_content .blog_grid .blog_item .blog_item_right button a:hover {
  color: red;
}

footer {
  background-color: black;
  height: 330px;
}
footer .footer_content .footer_body {
  padding-top: 35px;
}
footer .footer_content .footer_body .footer_left .footer_find ul li {
  list-style: none;
  line-height: 35px;
}
footer .footer_content .footer_body .footer_left .footer_find ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}
footer .footer_content .footer_body .footer_left .footer_help ul li, footer .footer_content .footer_body .footer_left .footer_about ul li {
  list-style: none;
  line-height: 35px;
}
footer .footer_content .footer_body .footer_left .footer_help ul li a, footer .footer_content .footer_body .footer_left .footer_about ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #9D9DAA;
  text-decoration: none;
}
footer .footer_content .footer_body .footer_left .footer_help ul li a:hover, footer .footer_content .footer_body .footer_left .footer_about ul li a:hover {
  color: #FFFFFF;
}
footer .footer_content .footer_body .footer_left .footer_help ul li a.onTop, footer .footer_content .footer_body .footer_left .footer_about ul li a.onTop {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}
footer .footer_content .footer_body .footer_right .footer_social .footer_icon_social {
  margin: 0 10px;
  background-color: rgba(157, 157, 170, 0.4);
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}
footer .footer_content .footer_body .footer_right .footer_social .footer_icon_social a {
  text-decoration: none;
  color: #FFFFFF;
}
footer .footer_content .footer_body .footer_right .footer_transfer .transfer_card {
  padding: 20px 5px;
}
footer .footer_content .footer_body .footer_right .footer_transfer .transfer_card img {
  height: 30px;
  width: 50px;
}
footer .footer_content .footer_coppy {
  padding-top: 25px;
}
footer .footer_content .footer_coppy .coppy_left p {
  font-size: 14px;
  font-weight: 500;
  color: #9D9DAA;
}
footer .footer_content .footer_coppy .coppy_right ul {
  display: flex;
}
footer .footer_content .footer_coppy .coppy_right ul li {
  list-style: none;
  padding: 0 10px;
}
footer .footer_content .footer_coppy .coppy_right ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #9D9DAA;
}
footer .footer_content .footer_coppy .coppy_right ul li a:hover {
  color: #FFFFFF;
}

.cd-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  text-decoration: none;
  background-color: rgba(108, 117, 125, 0.6509803922);
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #d9cccc;
}

.product__list {
  padding: 50px 0 60px 0;
}
.product__list .products {
  border-top: 1px solid #cecece;
}
.product__list .products .row {
  margin-right: -15px;
  margin-left: -15px;
}
.product__list .products .row .col-lg-3 {
  padding-right: 15px;
  padding-left: 15px;
}
.product__list .products .row .col-lg-3 .product__menu .product__title {
  border-left: 3px solid #000;
  padding: 10px;
}
.product__list .products .row .col-lg-3 .product__menu .product__title h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.product__list .products .row .col-lg-3 .product__menu .product__title h2 strong {
  color: #9d9d9d;
  display: block;
  font-size: 35px;
}
.product__list .products .row .col-lg-3 .product__menu .menu__slide ul li {
  background: #333;
  border-bottom: 1px solid #666666;
  text-align: center;
  width: 100%;
}
.product__list .products .row .col-lg-3 .product__menu .menu__slide ul li button {
  width: 100%;
  color: white;
  display: block;
  padding: 18px 10px;
  font-weight: 700;
  font-size: 12px;
}
.product__list .products .row .col-lg-3 .product__menu .menu__slide ul li button.active {
  background: #666666;
}
.product__list .products .row .col-lg-3 .product__menu .menu__slide ul li img {
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=style.css.map */