
// font-size
$fs_1 : 12px;
$fs_2 : 14px;
$fs_3: 16px; 
$fs_4: 18px; 
$fs_5: 20px;
$fs_6: 31px;
$fs_7: 35px;


// font-weight
$fw_300: 300;
$fw_400 : 400;
$fw_500 : 500;
$fw_bold : bold;

//color
$color_black : #000000;
$color_black_blur : #333333;
$color_gray: #9D9DAA;
$color_white: #FFFFFF;
$color_red: #F6435B;


// padding 
$py_header : 30px;
$py_section : 50px 0;
$p_productItem :30px;