// TOP
.top{
    background-color: black;
    padding: 10px;
    .top_content{
        .top_title{
            p{
                @include styleText ($fs_1,$fw_500,$color_white);
                margin: 0;
            }
        }
    }
}

// HEADER
header{
    padding: 10px 0;
    .header_content{
        position: relative;
        // HEADER TOP
        .header_top{
            .header_currency,.header_languege{
                .nav-item{
                    list-style: none;
                    &:hover .dropdown-menu{
                        display: block
                    }
                    .nav-link {
                        @include styleText($fs_1,$fw_300,$color_black_blur);
                        position: relative;
                        &:hover::after{
                            opacity: 1;
                        }
                        &::after{
                            content: '';
                            bottom: 0;
                            left: 0;
                            background-color: black;
                            width: 100%;
                            height: 3px;
                            position: absolute;
                            opacity: 0;
                        }
                    }
                    .dropdown-menu{
                        min-width: 100px;
                        padding: 0;
                        li{
                            .dropdown-item{
                                @include styleText($fs_1,$fw_300,$color_black_blur);
                            }
                        }
                    }
                }
                
            }
        }
        // HEADER NAVBAR
        .header_navbar{
            // HEADER_NAVAR DETEIL
            .header_navbar{
                .header_right{
                    .navbar{
                        .collapse{
                            .nav-item{
                                padding: 0 10px;
                                &:hover ul.dropdown-menu{
                                    display: block !important;
                                }
                                a.nav-link{
                                    @include styleText($fs_3,$fw_500,$color_black);
                                    position: relative;
                                    &:hover::after{
                                        opacity: 1;
                                        // transition: all 0.5s;
                                    }
                                    &::after{
                                        content: '';
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        background-color: black;
                                        width: 100%;
                                        height: 3px;
                                        opacity: 0;
                                    }
                                }
                                ul.dropdown-menu{
                                    display:none !important;
                                }
                            }
                        }
                    }
                }
            }

            // HEADER_MENU DETEIL
            .header_menu{
                ul{
                    .nav-item{
                        list-style: none;
                        padding: 0 10px;
                        position: relative;
                        transition: all 0.1s;
                        &:hover{
                            background-color: $color_gray;
                            height: 40px;
                            width: 40px;
                            line-height: 40px;
                            text-align: center;
                            border-radius: 50%;
                        }
                        &:first-child:after{
                            display: none;
                        }
                        &::after{
                            content: "1";
                            font-size: 11px;
                            background-color: #ffc107;
                            position: absolute;
                            height: 20px;
                            line-height: 20px;
                            width: 20px;
                            border-radius: 50%;
                            text-align: center;
                            top: -15px;
                            right: -5px;
                        }
                        &:last-of-type::after{
                            content: "16";
                            font-size: 11px;
                            background-color: #ffc107;
                            position: absolute;
                            height: 20px;
                            line-height: 20px;
                            width: 20px;
                            border-radius: 50%;
                            text-align: center;
                            top: -15px;
                            right: -5px;
                        }
                        &:hover .dropdown-menu{
                            display: block;
                        }
                        a.dropdown-toggle::after{
                            display: none;
                        }
                        ul.dropdown-menu{
                            padding: 0;
                            transform: translate3d(-150.37037px, 25.9259px, 0px);
                            min-width: 250px;
                            .mb-3{
                                margin: 0 !important;
                            }
                        }
                    }
                }
            }
        }
        // HEADER BOTTOM LOGO
        .header_bottom{
            font-size: 80px;
            position: absolute;
            top: -9px;
            left: 18px;
            a{
                color: $color_black;
            }
        }
    }
}

// HÌNH ẢNH
.hinhAnh{
    // background-color: #FFADCE;
    background-image: url(./../../Asset/img/img.jpg.gif);
    height: 350px;  
    width: 100%;
    // background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background-attachment: local;
    .hinhAnh_content{
        color: $color_white;
        padding: 70px 0;
        h3{
            @include styleText($fs_6,$fw_bold,$color_white);
        }
        p{
            @include styleText($fs_5,$fw_bold,$color_white);
            line-height: 1.6;
            width: 40%;
        }
        button.hinhAnh_button{
            height: 60px;
            width: 150px;
            border: none;
            position: relative;
        
            &::after{
                content: '';
                position: absolute;
                height: 60px;
                width: 150px;
                top: 5px;
                left: 5px;
                border-right: 1px solid white;
                border-bottom: 1px solid white;
            }
            a{
                @include styleText($fs_4,$fw_bold,$color_black);
                text-decoration: none;
                
            }
        }
    }
}

// ITEM
.items_shoes{
    padding: 50px 0;
    .item{
        .item_container{
            position: relative;
            height: 100%;
            .item_coler_background{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 90%;
                height: 90%;
                // background-color: #c1f5ee;
                border-radius: 10px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
            .item_white_background{
                position: absolute;
                top: 0;
                left: 30px;
                background-color: white;
                width: 85%;
                height: 93%;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            .item_img{
                h3{
                    width: 60%;
                    object-fit: cover;
                    position: relative;
                    top: 2vw;
                    left: 50%;
                    transform: translateX(-50%);
                    a{
                        // text-decoration: underline;
                        @include styleText($fs_4,$fw_500,$color_black);
                        &:hover{
                            color: $color_white;
                            background-color: $color_black;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                img{
                    width: 60%;
                    object-fit: cover;
                    position: relative;
                    top: 2vw;
                    left: 62%;
                    transform: translateX(-50%);
                }
            }
            
        }
    }
}

// FEED BACK
.feed_back{
    background-image: url(./../../Asset/img/nike-just-do-it.jfif);
    height: 550px;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: $py_section;
    .feed_back_ovelay{
        position: absolute;
        top: 0;
        left: 0;
        height: 550px;
        width: 100%;
        background-color: rgba(92, 85, 85, 0.7);
        h3{
            text-align: center;
            @include styleText($fs_6,$fw_bold,$color_white);
            padding-top: 50px;
        }
    }
    .feed_back_content{
        z-index: 4;
        .slick-feedback{
            padding-top: 140px;
            .slick-track{
                .feed_card{
                    padding: 0 30px;
                    text-align: center;
                    .card-rate{
                        color: yellow;
                    }
                    .card-body{
                        .card-title{
                            @include styleText($fs_3,$fw_bold,
                            $color_white);
                            padding: 10px 0;
                        }
                        p.card-text:first-of-type{
                            @include styleText($fs_3,$fw_400,
                            #c1c1f2);
                        }
                        p.card-text:last-of-type{
                            @include styleText($fs_3,$fw_bold,
                            $color_white);
                            padding-bottom: 5px;

                        }
                    }
                    img{
                        height: 100px;
                        width: 100px;
                        border: 1px solid;
                        border-radius: 15px;
                        margin: 0 auto;
                    }
                }

            }
        }
    }
}

// THE BLOCK
.blog{
    .blog_content{
        padding: $py_section;
        h3{
            padding-bottom: 20px;
            text-align: center;
            @include styleText($fs_7,$fw_bold,$color_black );
        }
        .blog_grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            .blog_item{
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                &:hover{
                    background-color: $color_gray;
                }
                // Left
                .blog_item_left{
                    img{
                        padding: 65px 10px;
                    }
                }
                // Right
                .blog_item_right{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-right: 20px;
                    h4{
                        @include styleText($fs_5,$fw_bold,$color_black );
                    }
                    p:first-of-type{
                        padding-top: 5px;
                        @include styleText($fs_1,$fw_300,$color_red );
                    }
                    p:last-of-type{
                        @include styleText($fs_3,$fw_400,color_gray );
                        
                    }
                    button{
                        width: 40%;
                        height: 15%;
                        border: 1px solid #ada3a3;
                        a{
                            text-decoration: none;
                            @include styleText($fs_3,$fw_400,#ada3a3);
                            &:hover{                         
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}

// FOOTER
footer{
    background-color: black;
    height: 330px;
    .footer_content{
        .footer_body{
            padding-top: 35px;
            .footer_left{
                .footer_find{
                    ul{
                        li{
                            list-style: none;
                            line-height: 35px;
                            a{
                                @include styleText($fs_3,$fw_bold,$color_white);
                                text-decoration: none;
                                
                            }
                        }
                    }
                }
                .footer_help, .footer_about{
                    ul{
                        li{
                            list-style: none;
                            line-height: 35px;

                            a{
                                
                                @include styleText($fs_3,$fw_400,$color_gray);
                                text-decoration: none;
                                &:hover{
                                    color: $color_white;
                                }
                            }
                            a.onTop{
                                @include styleText($fs_3,$fw_bold,$color_white );
                            }
                        }
                    }
                }
            }
            .footer_right{
                .footer_social{
                    .footer_icon_social{
                        margin: 0 10px;;
                        background-color: #9d9daa66;
                        height: 30px;
                        line-height: 30px;
                        width: 30px;
                        text-align: center;
                        border-radius: 50%;
                        a{
                            text-decoration: none;
                            color: $color_white;
                            i{}
                        }
                    }
                }
                .footer_transfer{
                    .transfer_card{
                        padding: 20px 5px;
                        img{
                            height: 30px;
                            width: 50px;
                        }
                    }
                }
            }
        }
        .footer_coppy{
            padding-top: 25px;
            .coppy_left{
                p{
                    @include styleText($fs_2,
                    $fw_500,
                    $color_gray);
                }
            }
            .coppy_right{
                ul{
                    display: flex;
                    li{
                        list-style: none;
                        padding: 0 10px;
                        a{
                            text-decoration: none;
                            @include styleText($fs_2,
                            $fw_500,
                            $color_gray);
                            &:hover{
                                color: $color_white;
                            }
                        }
                    }
                }
            }
        }
    }
}

// BACK TOP TOP
.cd-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    text-decoration: none;
    background-color: #6c757da6;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #d9cccc;
}






